*	@philippkochlimebit @JabobKrauskopf @medmodels/software-engineering @medmodels/data-science

/.github/	@JabobKrauskopf @medmodels/software-engineering

/.editorconfig	@JabobKrauskopf @medmodels/software-engineering

/Makefile @JabobKrauskopf @medmodels/software-engineering

/pyproject.toml @JabobKrauskopf @medmodels/software-engineering
